@model Category

<form method="post" class=" border mt-5 p-5">
    @*<input asp-for="Id" hidden/>*@
    <div class="row pb-2">
        <h2 class="text-primary">Edit Category</h2>
        <hr class="mb-5" />
    </div>
    @*<div asp-validation-summary="None" class="text-danger mb-5"></div>*@
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger text-small"></span>
    </div>
    <div class="mb-5">
        <label asp-for="DisplayOrder"></label>
        <input asp-for="DisplayOrder" class="form-control" />
        <span asp-validation-for="DisplayOrder" class="text-danger text-small"></span>
    </div>
    <button type="submit" class="btn btn-primary border">Update</button>
    <a asp-controller="Category" asp-action="Index" class="btn btn-secondary border">Back to List</a>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}